h1 {
  text-align: center;
}

.row {
  display: inline-block;
}

.navbar {
padding: 0;
background-color: black;
width: 100%;
opacity: 0.7;
position: fixed;
z-index: 2;
}

ul {
  margin: 2px;
}

ul a {
  /*padding: 1%;*/
  color: white;
}

.navbar ul li a {
  text-decoration: none;
  padding: 10px;
}


.navbar ul li{
list-style-type: none;
display: inline-block;
}

.navbar ul li :hover{
  background-color: #f39d1a;
}

body, html {
  height: 100%;
  margin: 0;
  font-size: 16px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.8em;
  color: #666;
}

.img1, .img2, .img3, .img4, .img5, .img6 {
  position: relative;
  opacity: 0.70;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}


.img1 {
  background-image: url("../img/image2.jpeg");
  min-height: 100%;
}

.img2 {
  background-image: url("../img/image1.jpeg");
  min-height: 400px;
}

.img3 {
  background-image: url("../img/John_Rylands_Library_wallpaper.jpg");
  min-height: 400px;
}

.img4 {
  background-image: url("../img/image4.jpg");
  min-height: 400px;
}

.img5 {
  background-image: url("../img/image5.jpeg");
  min-height: 400px;
}

.img6 {
  background-image: url("../img/image6.jpeg");
  min-height: 400px;
}

.section {
  text-align: center;
  /*padding: 50px 80px;*/
}

.Firstsection {
  background-color: #f4f4f4;
  color: #666;
}

.Secondsection {
  background-color: #282e34;
  color: #ddd;
}

.Fourthsection{
  background-color: #79A4D6;
  color: #ddd;
}

.Fifthsection {
  background-color: #282e34;
  color: #ddd;
}

.Fifthsection p {
  color: black;
}

.text {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: red;
  font-size: 27px;
  letter-spacing: 8px;
  text-transform: uppercase;
}

.text .border {
  background-color: #111;
  color: #fff;
  padding: 20px;
}

.text .border.trans{
  background-color:transparent;
}
